.referenceSection {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  max-height: 100vh;
  /* padding: 4rem; */
  padding-left: 4rem;
}

.referenceSection article {
  display: flex;
  flex-flow: row;
  gap: 4rem;
  border-radius: 12px;
  align-items: center;
  align-self: center;

  width: 100%;
  height: 100%;
}

.referenceSection article * {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.leftSide {
  flex: 1;
  min-width: 380px;
  height: fit-content;
  max-height: 90vh;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
  align-items: center;
}

.logoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25vh;
}

.logo {
  height: 25vh;
  width: 25vh;

  object-fit: contain;
  padding: 3vh;

  border-radius: 50%;
  background-color: white;
}

.textContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 100%;
}

.textContent p {
  text-align: justify;
}

.textContent ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.textContent ul li {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 4px;
}

.textContent ul li.active::before {
  content: "→";
  margin-right: 8px;
}

.rightSide {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  height: fit-content;
}

.galleryContainer {
  flex: 1;
  overflow: hidden;
  width: 120%;
  height: unset;
}

.imageContainer {
}

.imageContainer img {
  object-fit: fill;
  border-radius: 12px;
}

.navLine {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  font-weight: 600;
  font-size: 0.9rem;

  border-top: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.caseStudyColors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.caseStudyColors div {
  width: 12px;
  height: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
