.articleContainer {
  grid-column: 1/4;
  grid-row: 2/4;

  display: flex;
  flex-flow: row nowrap;
  gap: 0%;
  z-index: 3;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;

  overflow-x: hidden;
  border: 1px solid blue;
}

.articleContainer article.serviceContent {
  border-radius: 16px;
  padding: 3vw;
  border: 1px solid yellow;

  min-width: 100%;
}

.serviceContent h3 {
  font-size: 3rem;
  margin-bottom: 24px;
}

.serviceContent p {
  margin-bottom: 12px;
}
.serviceContent ul {
  font-size: 0.9rem;
  list-style-type: none;
  padding-left: 12px;
}
.serviceContent ul li {
  margin-bottom: 6px;
}
.serviceContent ul li::before {
  content: ">";
  margin-right: 6px;
}
