.servicesSection {
  padding: 4% 6%;
  min-height: 100vh;
  /* background-color: rgba(241, 241, 241, 0.6); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8vh;
  color: black;
  position: relative;
}

/* Hold the actual service content */
.serviceContentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0vw;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}
.serviceContentContainer > * {
  /* border: 3px solid blue; */
}

.serviceContentContainer .subNavContainer {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  z-index: 4;
  grid-column: 3 / 6;
  grid-row: 1;
  max-width: 600px;
  margin-left: 12vw;
}

.serviceContentContainer .sceneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: 1 / 3;
}

.serviceContentContainer .serviceContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 3;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  padding: 12px;

  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 2;
}

/* misc styles */

.subNavContainer h2 {
  font-size: 1rem;
  color: slategray;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}
.subNavContainer h2:hover {
  color: #000000;
  font-size: 1.2rem;
  padding: 0.5rem 0rem;
}

.subNavContainer h2.selectedHeadline {
  color: #000000;
  font-size: 4.5rem;
  padding: 2rem 0rem;
}

.serviceContent p {
  margin-bottom: 12px;
}
.serviceContent ul {
  font-size: 0.9rem;
  list-style-type: none;
  padding-left: 12px;
}
.serviceContent ul li {
  color: #1253eb;
  margin-bottom: 6px;
}
.serviceContent ul li::before {
  content: ">";
  margin-right: 6px;
}
