.nav {
  position: absolute;
  /* top: -100px; */
  width: 100%;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  z-index: 999;
}

.nav.navContainer {
  padding: 1.5rem 2rem;
}

.logo {
  position: absolute;
  left: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: rgb(50, 50, 50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo::after {
  content: ".";
  padding-left: 2px;
}

.navContainer .logo {
  top: -2rem;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.nav.navScrollContainer {
  top: 0;
  padding: 0.7rem 2rem;
  background: rgba(240, 240, 240, 0.25);
  color: rgb(50, 50, 50);
  backdrop-filter: blur(10px);
  font-size: 0.9rem;
}

.navScrollContainer .logo {
  top: 0.6rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.nav.navScrollContainer .logo:hover {
  background: linear-gradient(
    to right bottom,
    #c16507,
    #dc373c,
    #de0075,
    #b420b6,
    #1253eb
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav .navLink:hover {
  background: linear-gradient(to right bottom, #a720b6, #1253eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
